@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --crime-red: #8B0000;
  --crime-yellow: #FFD700;
}

@layer utilities {
  .text-crime-red {
    color: var(--crime-red);
  }
  .bg-crime-red {
    background-color: var(--crime-red);
  }
  .border-crime-red {
    border-color: var(--crime-red);
  }
  .text-crime-yellow {
    color: var(--crime-yellow);
  }
  .bg-crime-yellow {
    background-color: var(--crime-yellow);
  }
  .border-crime-yellow {
    border-color: var(--crime-yellow);
  }
}

body {
  background: #000000;
  color: white;
}